# Dependencies
node_modules/
.pnp
.pnp.js

# Production / Build Output
dist/

# Testing
coverage/

# Production env files
.env.production

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System Files
.DS_Store
Thumbs.db
